<nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light
            d-flex align-items-center justify-content-between px-2"
>
  <div class="d-flex align-items-center">
    <%= link_to root_path, class: 'navbar-brand mx-1' do %>
      <div class="d-flex align-items-center">
        <div class="ms-1 d-none d-lg-block">Night Cage</div>
      </div>
    <% end %>
  </div>

</nav>
