/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
*/


$gold: #d4af37;

@import 'bootstrap';

body {
  font-family: 'Baskerville';
  font-size: 1.5rem;

  background-repeat: no-repeat;
  background-image: url('nightcage_candle');
  background-size: 60vw;
  background-position-x: center;
}

.btn-primary {
  background: $gold;
  border-color: darken($gold, 5%);

  &:hover {
    background: darken($gold, 10%);
    border-color: darken($gold, 15%);
  }
}

.text-primary {
  color: $gold !important;
}

.form-control {
  font-size: 1.5rem;
  background-color: rgba(230, 230, 225, 1);

  &:focus {
    background-color: rgba(230, 230, 225, 1);
    border-color: lighten($gold, 10%);
    box-shadow: 0 0 0 0.25rem lighten($gold, 20%);
  }
}

.text-shadow {
  text-shadow: 0px 0px 5px #000;
}

.my-table {
  background: rgba(0, 0, 0, 0.65);
  border-color: #373b3e;
}
